downloads/**
!downloads/**/.keep
# !downloads/TV/.keep

jellyfin/configs/**
!jellyfin/**/.keep

prowlarr/configs/**
!prowlarr/**/.keep

qbittorrent/configs/**
!qbittorrent/**/.keep

radarr/configs/**
!radarr/**/.keep

sonarr/configs/**
!sonarr/**/.keep

pihole/configs/*
!pihole/configs/.keep

nginx/data/*
!nginx/data/.keep
nginx/letsencrypt/*
!nginx/letsencrypt/.keep

filebrowser/configs/**
!filebrowser/configs/.keep