downloads/**
!downloads/Movies/.keep
!downloads/TV/.keep

jellyfin/configs/**
!jellyfin/configs/.keep

prowlarr/configs/**
!prowlarr/configs/.keep

qbittorrent/configs/**
!qbittorrent/configs/.keep

radarr/configs/**
!radarr/configs/.keep

sonarr/configs/**
!sonarr/configs/.keep